@font-face {
  font-family: Gilroy-Light;
  src: url(fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(fonts/Gilroy-ExtraBold.otf);
}

body{
	font-family: 'Gilroy-Light';
	padding: 0;
	margin: 0;
	transition: 0.3s;
}

.header{
	display: block;
	width: 100%;
	height: 120px;
	padding-top: 5px;
	background-color: #fff;
}

.header .title{
	display: flex;
	justify-content: space-around;
}

.header .title div,span{
	align-self: center;
}

.header .title div{
	display: none;
}

.header .navbar{
	display: flex;
	justify-content: space-around;
}

.header .navbar div,nav{
	align-self: center;
}

.header .navbar nav ul{
	display: flex;
}

.header .navbar nav ul li{
	list-style: none;
	margin: 0 10px;
	font-size: 19px;
}

.header .navbar span,div{
	align-self: center;
}

.header .logo{
	width: 128px;
	height: 75px;
}

.header .logo img{
	width: 100%;
	height: 100%;
}

.header .contact-btn
{
	display: flex;
	justify-content: center;
	width: 190px;
	height: 60px;
	border-radius: 30px;
	background-color: #000066;
	color: #fff;
}


.header .contact-btn span{
	align-self: center;
}

.banner {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 253px;
	padding: 0 100px;
	background-color: #006;
	box-sizing: border-box;
}

.banner span, img {
	align-self: center;
}

.banner span {
	font-family: 'Gilroy-Bold';
	font-size: 70px;
	color: #fff;
}

.banner img{
	height: 100%;
}

.menu {
	display: flex;
	justify-content: space-between;
	height: 110px;
	border-bottom: 1px solid #D6D6D6;
	padding: 0 250px;
	box-sizing: border-box;
}

.menu .item {
	display: flex;
	align-self: center;
	font-family: 'Gilroy-Light';
	font-size: 24px;
	color: #D6D6D6;
}

.menu .item.active {
	color: #010166;
}

.menu .item span{
	width: 38px;
	height: 38px;
	text-align: center;
	border: 2px solid #D6D6D6;
	margin-right: 5px;
	padding-top: 4px;
	box-sizing: border-box;
}

.menu .item.active span {
	border: 2px solid #010166;
}

article {
	display: flex;
	justify-content: center;
	padding: 150px 0;
	box-sizing: border-box;
}

article.bg-second {
	background-color: #FBFBFB;
}

article div {
	align-self: center;
	text-align: center;
	width: 1500px;
}

article div h1 {
	font-size: 70px;
}

article div span {
	font-size: 30px;
	line-height: 1.5;
}

.faq {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.faq h1 {
	width: 100%;
	font-size: 70px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 0px;
}

.faq ul {
	width: 1000px;
}

.faq li {
	padding: 5px 20px;
	list-style: none;
	border-bottom: 1px solid #D6D6D6;
	transition: 0.3s;
}

.faq li.active div{
	height: auto;
}

.faq li p {
	display: flex;
	font-family: 'Gilroy-Light';
	font-size: 30px;
}

.faq li p i {
	align-self: center;
	font-size: 20px;
	width: 20px;
	height: 20px;
	padding: 5px;
	text-align: center;
	margin-right: 10px;
	color: #fff;
	background-color: #006;
}

.faq li div {
	padding-left: 40px;
	height: 0px;
	overflow: auto;
}

.faq li div span {
	font-size: 24px;
	line-height: 1.5;
}

@media screen and (max-width: 1650px) {
  article div {
  	width: 1200px;
  }
}

@media screen and (max-width: 1500px) {
  .menu {
  	padding: 0 100px;
  }
}

@media screen and (max-width: 1500px) {
  .menu {
  	padding: 0 100px;
  }
}

@media screen and (max-width: 1368px) {
	
	.header .logo{
		width: 108px;
		height: 65px;
	}

	.header .contact-btn
	{
		width: 160px;
		height: 50px;
		border-radius: 25px;
	}
	.banner {
		height: 185px;
		padding: 0 50px;
	}
	.banner span {
		font-size: 55px;
	}
	
	article div {
	  	width: 900px;
	}

	article div h1 {
		font-size: 60px;
	}

	article div span {
		font-size: 24px;
	}

}


@media screen and (max-width: 1200px) {
	.header .title div{
		display: flex;
	}

	.header .navbar div{
		display: none;
	}

	.banner {
		height: 120px;
		padding: 0 20px;
	}
	.banner span {
		font-size: 40px;
	}

	.menu .item {
		font-size: 16px;
	}
	.menu .item span{
		width: 24px;
		height: 24px;
		padding-top: 0px;
	}

}


@media screen and (max-width: 1024px) {
	article div {
	  	width: 800px;
	}

	article div h1 {
		font-size: 50px;
	}

	article div span {
		font-size: 20px;
	}
}

@media screen and (max-width: 900px) {
	.menu {
	  	padding: 0 20px;
	}
	article div {
	  	width: 600px;
	}
}